.showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(25rem, 30ch), 30%));
  gap: clamp(4rem, 3vw, 6rem);
  place-content: center;

  &__card {
    color: #642C99;
    
    &, & > a {
      display: grid;
      gap: clamp(1.6rem, 1vw, 2.4rem);
      justify-items: center;
      text-align: center;
    }
  }

  &__image {
    position: relative;

    img {
      opacity: 1;
      transition: all .6s ease-in-out;
    }

    &.loading {
      img {
        opacity: 0;
      }
    }

    @media (width > 37.5em) {    
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: clamp(1.6rem, 1vw, 4rem);
}

.controls {
  border: .2rem solid;
  border-radius: .8rem;
  display: grid;
  font-weight: 600;
  grid-template-columns: repeat(3, minmax(2.4rem, 5rem));
  padding-block: .8rem;
  padding-inline: .8rem;

  /* Chrome, Safari, Edge, Opera */
  > input::-webkit-outer-spin-button,
  > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  > input[type=number] {
    appearance: textfield;
  }
}
