.card {
  color: #642C99;
  
  &, & > a {
    display: grid;
    gap: clamp(1.6rem, 1vw, 2.4rem);
    justify-items: center;
    text-align: center;
  }

  &__image {
    position: relative;

    img {
      opacity: 1;
      transition: all .6s ease-in-out;
    }

    &.loading {
      img {
        opacity: 0;
      }
    }

    @media (width > 37.5em) {    
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__description {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: clamp(1.6rem, 1vw, 4rem);
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #FBFAC9;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    animation: animloader 2s linear infinite;
  }
  
  .loader::after {
    animation-delay: 1s;
  }
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}
