@use "./reset";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Montserrat', sans-serif;
}

body {
  @apply bg-pink text-purple overflow-x-hidden font-sans antialiased;
}

.i-icon {
  > svg {
    width: 3.2rem;
    height: 3.2rem;
  }
}
