$container-width: 144rem;

// Why Section

.why {
  --spike-width: 45rem;
  --spike-height: 80px;
  --spike-before-color: #F7CFDA;
  --spike-after-color: #EFFBE2;
  padding-block: 13.6rem;
  position: relative;
  background-color: #FBFAC9;
  isolation: isolate;
  width: 100vw;
  left: -1.6rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: var(--spike-height);
    -webkit-mask-image: url('/public/wave.svg');
    -webkit-mask-size: var(--spike-width) var(--spike-height);
    mask-image: url('/public/wave.svg');
    mask-size: var(--spike-width) var(--spike-height);
    left: 0;
  }
  
  &::before {
    background-color: var(--spike-before-color);
    top: 0;
  }

  &::after {
    background-color: var(--spike-after-color);
    bottom: 0;
    transform: rotate(.5turn);
  }

  &__container {
    align-items: center;
    display: grid;
    gap: clamp(2.4rem, 10vmax + 0.1rem, 8rem);
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    margin: auto;
    max-inline-size: $container-width;
    padding-inline: 1.6rem;
  }

  &__text {
    max-inline-size: 45ch;

    & > *:not(button) {
      margin-block-end: clamp(1.6rem, 1vw, 2.4rem);
    }

    h2 {
      font-size: clamp(5rem, 3.5vw + .1rem, 9rem);
      line-height: 1.4;
      font-weight: 900;
    }
  }

  &__image {
    @media (width < 37.5em) {
      grid-row: 2;
    }

    img {
      height: auto;
    }
  }
}
